<% if object.errors.any? %>
  <div id='error_explanation'>  
    <h2>Oops, you're a moron. Please check the following <%= pluralize( object.errors.count, "field" ) %>:</h2>  
    <% object.errors.full_messages.each do |msg| %> 
    <p><%= msg %></p> 
    <% end %>
  </div>  
<% end %>  
