    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Ingidio</a>
          <ul class="nav">
            <li class="<%= @toolbar[:home] %>"><a href="/">Home</a></li>
            <li class="<%= @toolbar[:channel] %>"><a href="/channel">Channels</a></li>
            <li class="<%= @toolbar[:leader] %>"><a href="/leader">Leader Board</a></li>
            <li class="<%= @toolbar[:contact] %>"><a href="/contact">Contact</a></li>
          </ul>

          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>

